/.fabric
/.mixin.out
/backup
/chooser_0.png
/crash-reports
/logs
/saves
/not-enough-crashes
/options.txt
/pings_0.png
/realms_persistence.json
/usercache.json
/waypoints_0.png
/mods/mamiyaotaru
/craftpresence
mods_0.png
