#AutoSwitch Configuration File
#See https://github.com/dexman545/Fabric-Autoswitch/wiki/Configuration for more details
#Sat Dec 28 15:09:28 CET 2019
displayToggleMsg=true
switchForBlocks=true
toggleMsgOverHotbar=true
switchbackBlocks=true
switchInMP=true
switchForMobs=true
switchbackMobs=true
switchInCreative=false
controlMowingWhenFighting=true
